.video-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

#youtube-frame {
    width: 80%;
    aspect-ratio: 16/9;
    height: auto;
    max-height: calc(100vh - 250px);
    background: #f5f5f5;
    border: none;
}

.category-select {
    width: 80%;
    padding: 3%;
    margin-block: 3%;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
}

.category-select:focus {
    outline: none;
    border-color: #666;
}